.decks-row {
    padding-bottom: 50px;
}

.decks-card {
    background-color: transparent;
    border: 0;
    margin: 5px 5px;
    padding: 5px 5px;
    max-width: 15rem !important;
    width: 15rem !important;
    cursor: pointer !important;
}