@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,700;0,900;1,200;1,300;1,400;1,500;1,600&display=swap');

.body-about{
    font-family: "Poppins",sans-serif;
    
}

section{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

section:nth-child(1){
    color: #fff;
}

section:nth-child(2){
    color: #1D212B;
    background-color: #fff;
}

section:nth-child(3){
    color: #fff;
}

section:nth-child(4){
    color: #1D212B;
    background-color: #fff;
}

section .container{
    font-weight: 500;
    font-family: "Poppins",sans-serif;
    margin: 100px;
}

section h1{
    font-weight: 800;
    font-size: 60px;
    font-family: "Poppins";
}

section h2{
    font-weight: 800;
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
}

section .cards{
    display: flex;  
}

section .cards .text-card{
    background: #2696E9;
    margin: 20px;
    padding: 20px;
}

section .cards .text-card h3{
    font-weight: 600;
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 10px;
}

@media (max-width: 900px){

    section h1{
        font-size: 40px;
    }

    section .cards{
        flex-direction: column;
    }
}

.reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: all 2s ease;
}

.reveal.active{
    transform: translateY(0px);
    opacity: 1;
}

p{
    font-weight: 500;
}


@keyframes showTopText {
  0% { transform: translate3d(0, 100%, 0); }
  40%, 60% { transform: translate3d(0, 50%, 0); }
  100% { transform: translate3d(0, 0, 0); }
}
@keyframes showBottomText {
  0% { transform: translate3d(0, -100%, 0); }
  100% { transform: translate3d(0, 0, 0); }
}
.animated-title {
  color: #0aaaf5;
  font-family: "Poppins", Arial, sans-serif;
  height: 70vmin;
  left: 50%;
  position: absolute;
  top: 60%;
  transform: translate(-50%, -50%);
  width: 90vmin;
  font-weight: 600;

}
.animated-title > div {
  height: 50%;
  overflow: hidden;
  position: absolute;
  width: 80%;
}
.animated-title > div div {
  font-size: 8vmin;
  padding: 2vmin 0;
  position: absolute;
}
.animated-title > div div span {
  display: block;
}
.animated-title > div.text-top {
  border-bottom: 1vmin solid rgb(230, 229, 229);
  top: 0;
}
.animated-title > div.text-top div {
  animation: showTopText 2s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
  bottom: 0;
  transform: translate(0, 100%);
}
.animated-title > div.text-top div span:first-child {
  color: #0aaaf5;
}
.animated-title > div.text-bottom {
  bottom: 0;
}
.animated-title > div.text-bottom div {
  animation: showBottomText 1s;
  animation-delay: 3s;
  animation-fill-mode: forwards;
  top: 0;
  transform: translate(0, -100%);
}

.text-card img{
  border-radius: 50%;
  width: 170px;
  height: 170px;
  margin-left: 22px;
  margin-bottom: 25px;
}